@font-face {
  font-family: 'Formular';
  src: url(./fonts/Formular-Regular.woff2) format('woff2'),
      url(./fonts/Formular-Regular.ttf) format('ttf'),
      url(./fonts/Formular-Regular.woff) format('woff');
  font-weight: 300;
  font-style: 'normal';
}
@font-face {
  font-family: 'Formular';
  src: url(./fonts/Formular-Bold.woff2) format('woff2'),
      url(./fonts/Formular-Bold.ttf) format('ttf'),
      url(./fonts/Formular-Bold.woff) format('woff');
  font-weight: 'bold';
  font-style: 'normal';
}